{% extends 'base.html' %}

{% block title %}
Movie detail
{% endblock title %}



{% block container %}
{% comment %} 영화상세정보 {% endcomment %}
<img src="{{movie.poster_url}}" alt="{{movie.movieNm}}">
<h2>영화명: {{movie.movieNm}}</h2>
<p>{{movie.description}}</p>
<br>
{% for genre in genres %}
<h3>장르</h3>
<p>{{genre}}</p><br>
{% endfor %}
<h2>참여 배우들</h2>
{% for actor in actors %}
<p>{{actor}}</p>
{% endfor %}
<h2>감독</h2>
<p>{{director}}</p>

{% comment %} 좋아요 기능 구현 {% endcomment %}
{% comment %} ajax를 활용한 비동기적 구현 {% endcomment %}
<i 
  class="{% if user in movie.liked_users.all %}fas{% else %}far{% endif %} fa-heart fa-lg" 
  id="like-btn" 
  data-id="{{ movie.pk }}"
  style="color: red"
>
</i>

<p><span id="like-count"> {{movie.liked_users.all | length }}</span>명이 이 영화를 좋아합니다.</p>




{% comment %} 로그인 처리한거 파트 두개 주의하기!!!!!!!!! {% endcomment %}
{% comment %} 로그인 해야됨 + 수정할때는 보이지 않아야 한다는것 주의!!!!! {% endcomment %}
<hr>
{% if user.is_authenticated %}
{% if rating_pk == rating.pk %}
{% if user in movie.rated_users.all %}
     <p>이미등록</p>
{% else %}
    <h2>평점을 등록해보세요</h2>
    <form method="post" action=" {% url 'movies:rating' movie.pk %} ">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">평점 등록 완료!</button>
    </form>
{% endif %}
{% endif %}
{% endif %}
<hr>





{% for rating in ratings %}
  {{rating.score}} 
  {{rating.comment}}
  {{rating.user}}
  {{rating.created_at}}
<hr>
  {% comment %} 수정할 review 만 form 으로 바꿈 {% endcomment %}
  
  {% if user.is_authenticated %}

  
  {% if rating_pk == rating.pk %}
    <form action="{% url 'movies:update_rating' rating.pk %}" method="POST">
      {% csrf_token %}
      {{ updateform.as_p }}
      <button type="submit">[수정]</button>
    </form>
    {% else %}

    {% comment %} review 는 모든 사람한테 보임 {% endcomment %}
    {% comment %} <p>{{ rating.pk }}. {{ rating.content }} {{ rating.score }}</p> {% endcomment %}
    {% comment %} delete 랑 수정하기는 review 쓴 사람한테만 보임 {% endcomment %}
    {% if rating.user == rating.user %}
      <form action="{% url 'movies:delete_rating' rating.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit">[삭제]</button>
      </form>
      <form action="{% url 'movies:update_rating' rating.pk %}">
        <button type="submit">[수정]</button>
      </form>
      <br>
      <br>
    {% endif %}
  {% endif %}

  {% endif %}


{% endfor %}

{% comment %} review 추가는 로그인한 모든 사람에게 보임 {% endcomment %}
{% comment %} {% if user.is_authenticated %}
<form action="{% url 'movies:rating' movie.pk %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">rating Create</button>
</form>
{% endif %} {% endcomment %}
{% comment %} review 끝 {% endcomment %}



<script>
  const likeButton = document.querySelector('#like-btn')
  likeButton.addEventListener('click', function(event) {
    // console.log(event)
    // Button 의 data-id 속성을 아래 코드로 가지고 온다.
    const movieId = event.target.dataset.id
    axios.get(`/movies/${movieId}/like/`)
      .then(function(response) {
        //console.log(response)
        //사용자의 좋아요 상태에 따라 버튼 클래스 변경
        if (response.data.liked) {
          //console.log(likeButton.classList)
          likeButton.classList.remove('far')
          likeButton.classList.add('fas')
        
        }
        else {
          likeButton.classList.remove('fas')
          likeButton.classList.add('far')
        }
        // 아티클을 좋아하는 사람들 수를 응답받아 적용시킴
        const likeCount = document.querySelector('#like-count')
        likeCount.innerText = response.data.count
      })
  })
</script>






<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock container %}