{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/dcc481b48a.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


  <!-- Bootstrap -->
  {% comment %} {% static '/css/style.css' %} {% endcomment %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/isotope.css' %}" media="screen" />
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
  <link rel="stylesheet" href=" {% static 'js/fancybox/jquery.fancybox.css' %}" type="text/css" media="screen" />
  <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <title>Movie detail</title>
</head>
<body>
  <header>


    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
            <div class="navbar-brand">
              <a href=" {% url 'movies:index' %} "><h1><span>L</span>ike<span>M</span>ovie</h1></a>
            </div>
          </div>

          <div class="navbar-collapse collapse">
            <div class="menu">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href=" {% url 'movies:index' %} " class="active">Home</a></li>
                <li role="presentation"><a href="{% url 'accounts:login' %}">Login</a></li>
                <li role="presentation"><a href="{% url 'accounts:logout' %}">Logout</a></li>
                <li role="presentation"><a href="{% url 'accounts:signup' %}" >Signup</a></li>
                <li role="presentation"><a href="{% url 'accounts:delete' %}">Signout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

  </header>
  


            <div class="container">
              <div class="col-sm-12 col-sm-9 blog-content">
                <a href="#"><img class="img-responsive img-blog" src="{{movie.poster_url}}" alt="{{movie.movieNm}}" width="50%"/></a>
                <br>
                <br>
                <h2>{{movie.movieNm}}</h2>
                <p style="color:black">{{movie.description}}</p>
                <a class="btn btn-primary readmore" href="{{movie.link_url}}">영화 사이트 바로가기 <i class="fa fa-angle-right"></i></a>
              </div>
            </div>


{% comment %} 
<img src="{{movie.poster_url}}" alt="{{movie.movieNm}}">
<h2 style="color:black">영화명: {{movie.movieNm}}</h2>
<p style="color:black">{{movie.description}}</p>
<br> {% endcomment %}
<h4 >장르</h4>
{% for genre in genres %}
<p style="color:black">{{genre}} </p>
{% endfor %}
<h4>참여 배우들</h4>
{% for actor in actors %}
<p style="color:black">{{actor}}</p>
{% endfor %}
<h4>감독</h4>
<p style="color:black">{{director}}</p>

{% comment %} 좋아요 기능 구현 {% endcomment %}
{% comment %} ajax를 활용한 비동기적 구현 {% endcomment %}

<div class="rating">

<i 
  class="{% if user in movie.liked_users.all %}fas{% else %}far{% endif %} fa-heart fa-lg" 
  id="like-btn" 
  data-id="{{ movie.pk }}"
  style="color: red"
>
</i>

<p style="color:black" ><span id="like-count"> {{movie.liked_users.all | length }}</span>명이 이 영화를 좋아합니다.</p>



{% if user.is_authenticated %}
{% if rating_pk == rating.pk %}
{% if user in movie.rated_users.all %}
     <h2> </h2>
{% else %}

    <br>
    <br>
    <br>
    <br>
<div style="background-color:#ffd1b3; width:50%; height: 285px; margin:auto;" class="col-sm-12 col-sm-9 blog-content">
    <h4 style="color:black">평점을 등록해보세요!</h4>
    <form method="post" action=" {% url 'movies:rating' movie.pk %} " style="text/css:black">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" style="color:black">평점 등록 완료!</button>
    </form>
    
{% endif %}
{% endif %}
{% endif %}



<p style="color:black">
{% for rating in ratings %}
  {{rating.score}} 
  {{rating.comment}}
  {{rating.user}}
  {{rating.created_at}}
</p>

  {% comment %} 수정할 review 만 form 으로 바꿈 {% endcomment %}
  
  {% if user.is_authenticated %}

  
  {% if rating_pk == rating.pk %}
    <form action="{% url 'movies:update_rating' rating.pk %}" method="POST">
      {% csrf_token %}
      {{ updateform.as_p }}
      <button type="submit" style="color:black">수정</button>
    </form>
    {% else %}

    {% if rating.user == rating.user %}
      <form action="{% url 'movies:delete_rating' rating.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit"  style="color:black">삭제</button>
      </form>
      <form action="{% url 'movies:update_rating' rating.pk %}">
        <button type="submit"  style="color:black">수정</button>
      </form>
      <br>
      <br>
    {% endif %}
  {% endif %}
  {% endif %}
{% endfor %}
</div>
</div>
<script>
  const likeButton = document.querySelector('#like-btn')
  likeButton.addEventListener('click', function(event) {
    const movieId = event.target.dataset.id
    axios.get(`/movies/${movieId}/like/`)
      .then(function(response) {
        if (response.data.liked) {
          likeButton.classList.remove('far')
          likeButton.classList.add('fas')
        
        }
        else {
          likeButton.classList.remove('fas')
          likeButton.classList.add('far')
        }
        const likeCount = document.querySelector('#like-count')
        likeCount.innerText = response.data.count
      })
  })
</script>
  
</div>




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/fancybox/jquery.fancybox.pack.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
  <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
  <script src="{% static 'js/functions.js' %}"></script>
  <script>
    wow = new WOW({}).init();
  </script>

</body>
</html>


