<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/dcc481b48a.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


  <!-- Bootstrap -->
  <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../../static/css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="../../../static/css/isotope.css" media="screen" />
  <link rel="stylesheet" href="../../../static/css/animate.css">
  <link rel="stylesheet" href="../../../static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <link href="../../../static/css/prettyPhoto.css" rel="stylesheet">
  <link href="../../../static/css/style.css" rel="stylesheet">




  <title>index</title>
</head>
<body>
  <header class="container">


    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
            <div class="navbar-brand">
              <a href="index.html"><h1><span>M</span>ulti</h1></a>
            </div>
          </div>

          <div class="navbar-collapse collapse">
            <div class="menu">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="index.html">Home</a></li>
                {% comment %} <li role="presentation"><a href="services.html">Services</a></li> {% endcomment %}
                {% comment %} <li role="presentation"><a href="blog.html">Blog</a></li> {% endcomment %}
                {% comment %} <li role="presentation"><a href="portfolio.html" class="active">Portfolio</a></li> {% endcomment %}
                {% comment %} <li role="presentation"><a href="contact.html">Contact</a></li> {% endcomment %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

  </header>




  <section id="portfolio">
    <div class="container">
      <div class="col-lg-12">
        <div class="text-center">
          <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
            <h2>Portfolio</h2>
          </div>
          <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
          </div>
        </div>


        <ul class="portfolio-filter text-center">
          <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Creative</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".html">Photography</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".wordpress">Web Development</a></li>
        </ul>
        <!--/#portfolio-filter-->

        <div class="row">
          <div class="portfolio-items">
            <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="#">Business theme</a></h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                    <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="#">Business theme</a></h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                    <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="#">Business theme</a></h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                    <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="#">Business theme</a></h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                    <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="#">Business theme</a></h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                    <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="#">Business theme</a></h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                    <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="#">Business theme</a></h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                    <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="#">Business theme</a></h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                    <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#portfolio-item-->







    <h1>영화추천사이트</h1>
    {% if user.is_authenticated %}
    <p>
      <span>Hello, {{ user.username }}</span>
      <a href=" {% url 'accounts:logout' %} ">로그아웃</a>
      <a href=" {% url 'accounts:update' %} ">회원정보 수정</a>
    </p>
    {% else %}
    <p>
      <a href=" {% url 'accounts:login' %} ">로그인</a>
      <a href="{% url 'accounts:signup' %}">회원가입</a>
    </p>
    {% endif %}

    <a href=" {% url 'movies:index'%} ">Home</a>
    <hr>
  </header>
  
  <div class="container">
  {% comment %} superuser에 한해서 영화 등록, 수정, 삭제가 이루어져야 한다는 것 반영 {% endcomment %}
{% if request.user.is_superuser  %}
<a href="{% url 'movies:getmovies' %}">영화정보 받기(관리자 전용 버튼)</a> 
{% endif %}
{% comment %} 수정, 삭제까지는 어떻게 구현해야? {% endcomment %}

{% if request.user.is_authenticated %}
    <p>로그인 됨</p>


    <div id="app">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                [[ option.text ]]
            </option>
        </select>
        {% comment %} <span>Selected: [[ selected ]]</span> {% endcomment %}
        <a :href="`movieby_genre/${selected}`"> [장르 선택 완료!] </a>
        <hr>
    </div> 


    {% if genres_length == 3%}
        <ul>
        {% for buk in bucket %}
            {% for movie in buk %}
                {% if movie in movies %}
                    {{ pass }}
                {% else %}
                    <p>{{ movie }}</p>
                {% endif %}
            {% endfor %}
            <li class='row mb-1'>
               
                {% for movie in buk %}
                    {% if movie in movies %}
                        <div class='card col-2'>
                        <a href=" {% url 'movies:detail' movie.pk %}  ">
                        {{movie.movieNm}}
                        <br>
                        <img src="{{ movie.poster_url }}" alt="사진">
                        </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
    
    {% endif %}
    
    
{% else %}
    <p>로그인하세요</p>
{% endif %}


<script>
    new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
        selected: '16',
        options: [
        { text: '애니메이션', value: '1' },
        { text: '범죄', value: '2' },
        { text: '드라마', value: '3' },
        { text: '액션', value: '4' },
        { text: '어드벤처', value: '5' },
        { text: 'SF', value: '6' },
        { text: '스릴러', value: '7' },
        { text: '판타지', value: '8' },
        { text: '멜로/로맨스', value: '9' },
        { text: '코미디', value: '10' },
        { text: '공포(호러)', value: '11' },
        { text: '가족', value: '12' },
        { text: '전쟁', value: '13' },
        { text: '미스터리', value: '14' },
        { text: '사극', value: '15' },
        { text: '기타', value: '16' },
        { text: '다큐멘터리', value: '17' },
        { text: '뮤지컬', value: '18' },
        ],
    }
    })
</script>

  </div>



  <footer>
    <div class="footer">
      <div class="container">
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
          <h2>Multi</h2>
          <p>In a elit in lorem congue varius. Sed nec arcu. Etiam sit amet augue. Fusce fermen tum neque a rutrum varius odio pede ullamcorp-er tellus ut dignissim nisi risus non tortor. Aliquam mollis neque.</p>
        
        <form action=" {% url 'accounts:delete' %}" method="post">
            {% csrf_token %}
            <button type="submit">회원탈퇴</button>
        </form>
        </div>
      </div>
    </div>

  </footer>









  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../../../js/jquery-2.1.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../../../js/bootstrap.min.js"></script>
  <script src="../../../js/wow.min.js"></script>
  <script src="../../../js/fancybox/jquery.fancybox.pack.js"></script>
  <script src="../../../js/jquery.easing.1.3.js"></script>
  <script src="../../../js/jquery.bxslider.min.js"></script>
  <script src="../../../js/jquery.prettyPhoto.js"></script>
  <script src="../../../js/jquery.isotope.min.js"></script>
  <script src="../../../js/functions.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>



</body>
</html>
