container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_chown_sqlitedb:
    command: "sudo chown wsgi db.sqlite3"
    leader_only: true
  03_seed:
    command: "python manage.py loaddata user.json"

options_settings:
  aws:elasticbeanstalk:application:enviroment:
    DJANGO_SETTINGS_MODULE: movie_pjt.settings